<p id="notice"><%= notice %></p>

<p>
  <strong>Lexeme:</strong>
  <%= @entry.lexeme %>
</p>

<p>
  <strong>Dialects:</strong>
  <%= @entry.dialects %>
</p>

<p>
  <strong>Pos:</strong>
  <%= @entry.pos %>
</p>

<p>
  <strong>Gloss:</strong>
  <%= @entry.gloss %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @entry.notes %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
