Current Chapter: <%=@entry.chapter.title%>
<br>
Current Entry: <%=link_to @entry.lemma, entry_path(@entry)%>
<br>
Dialect Forms: <%@entry.entry_dialects.each do |form| %>
<li><%=form.dialectical_form.lexeme %></li>
<%end%>
<br>
Add Another Dialectical Form: 


<%= form_for(@dialectical_form) do |f| %>
    <%= f.label :Lexeme %><br>
    <%= f.text_field :lexeme %><br>
  
    <br>
   
        <%= f.label :"Select a Dialect" %><br>
        <%= f.collection_select :dialect_id, Dialect.all, :id, :name, {:include_blank => "Please select"} %><br>
            <br>
    
    <%= f.hidden_field :entry_id, value: @entry.id %>

   
    <br>
    <br>
    <%= f.submit %>

<% end %>



